<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
</head>
</head>
<body>
    <h2>Welcome to the Spooky Recommender system</h2>
    <div>This web app is my project for course called Database theory. I took this as an oppurtuntiy to create a recommendation engine for horror lovers such as myself.</div>
    <a href="{{ url_for('index') }}">Jump back</a>
    <button href=base.html name="back">Jump back</button>
</body>
</html>
